<?xml version="1.0" encoding="utf-8" ?>
<ProxyConfig allowedReferers="*"
             mustMatch="true">
  <serverUrls>
	<serverUrl url="http://210.59.253.2:6080/arcgis"
            matchAll="true"/>
	  <serverUrl url="https://cctv1.kctmc.nat.gov.tw"
            matchAll="true"/>

	  <serverUrl url="https://www.cwb.gov.tw"
                matchAll="true"/>
	  <serverUrl url="http://sampleserver6.arcgisonline.com/arcgis/rest/services/Utilities/PrintingTools/GPServer/Export%20Web%20Map%20Task"
                matchAll="true"/>
	  
	  <!--<serverUrl url="http://servicesbeta.esri.com/"
               matchAll="true"></serverUrl>
    <serverUrl url="https://servicesbeta.esri.com/"
                 matchAll="true"></serverUrl>
    <serverUrl url="http://arcgis.com/"
                 matchAll="true"></serverUrl>
    <serverUrl url="https://arcgis.com/"
                 matchAll="true"></serverUrl>
    <serverUrl url="http://www.arcgis.com/"
                 matchAll="true"></serverUrl>
    <serverUrl url="https://www.arcgis.com/"
                 matchAll="true"></serverUrl>
    <serverUrl url="http://sampleserver1.arcgisonline.com/arcgis/rest/services/"
               matchAll="true"></serverUrl>
    <serverUrl url="http://sampleserver2.arcgisonline.com/arcgis/rest/services/"
               matchAll="true"
               token=""></serverUrl>
    <serverUrl url="http://server.arcgisonline.com/arcgis/rest/services/"
               matchAll="true"></serverUrl>
    <serverUrl url="http://orthogonal.esri.com/arcgis/rest/services/"
               matchAll="true"></serverUrl>
    <serverUrl url="http://hummer/ArcGIS/rest/services"
               matchAll="true"
               dynamicToken="true"
               ></serverUrl>-->
  </serverUrls>
</ProxyConfig>

<!-- See https://github.com/Esri/resource-proxy for more information -->
